*
    box-sizing: border-box
a
    text-decoration: none
    cursor: pointer
    &:hover
        opacity: 0.5
    &:focus
        opacity: 0.5
img
    height: inherit
    width: inherit
    object-fit: cover
body
    margin: 0
.container
    width: 1160px
    margin: auto
summary::-webkit-details-marker 
    display: none
//Логотип
.logo-wrapper
    width: 105.69px
    height: 40px
.logo
    width: inherit
    height: inherit
//Навигация
.nav
    &-inner 
        margin: 0
        padding: 0
        display: flex
    &-item
        @include text_50
        &-title
            @include Heading_3
        &-wrapper 
            list-style: none
                
                
.submenu
    &-item
        @include text_50
        &-wrapper
            list-style: none
            padding: 10px

//Кнопки
button
    outline: none
    cursor: pointer
    &:hover
        opacity: 0.5
    &:active
        opacity: 0.5
    &:focus
        opacity: 0.5
.button
    border-radius: 22px
    padding: 10px 19px
    width: min-content
    outline: none
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    &_without-border
        border-radius: 0
        border: none
        &_purple
            @include Heading_3
            color: $Purple
        &_grey
            @include Heading_3
            color: $Dark_50
    
    &_white
        margin-top: 3px
        background-color: $White
        @include Heading_3
        color: $Purple
        position: relative
        height: calc( 100% - 6px)
        &::before
            position: absolute
            content: ''
            top: -3px
            right: -3px
            bottom: -3px
            left: -3px
            border-radius: 22px
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
            z-index: -1
        &:hover
            &::before
                opacity: 0.5
        &:active
            &::before
                opacity: 0.5    
    &_purple
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        @include Heading_3
        color: $White
        border: none
        &:hover
            opacity: 0.5
        &:active
            opacity: 0.5
    &_plus
        width: 30px
        height: 30px
        border: 1px solid rgba(31, 32, 65, 0.25)
        border-radius: 50%
        color: $Dark_50
        @include text-operation
    &_minus
        width: 30px
        height: 30px
        border: 1px solid rgba(31, 32, 65, 0.25)
        border-radius: 50%
        color: $Dark_50
        @include text-operation
.buttons-block
    .button_without-border
        padding: 0
.text_content
    margin: 0

